.search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  &__modal {
    position: relative;
    width: 200px;
  }
  &__input {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    outline: none;
    width: 100%;
    padding: 10px 30px 10px 10px;
    &:hover,
    &:focus {
      border: 1px solid var(--color-secondary);
      ~ .search__icon {
        color: var(--color-secondary);
      }
    }
  }
  &__icon {
    color: var(--color-primary);
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
